.cart-page {
  min-height: calc(100vh - 140px);
  padding: 20px;
}

.message {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 20%;
  left: 80%;
  font-size: 12px;
  background-color: #62a2be;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px;
  color: #fff;
  padding: 4px;
  margin-right: 20px;
  min-width: 15%;
  text-align: center;
}

.message p {
  text-align: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .message {
    width: 120px;
    top: 15%;
    height: auto;
    font-size: 10px;
  }

  .cart-page {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .message {
    width: 110px;
    top: 15%;
    margin-right: 20px;
    height: auto;
    font-size: 10px;
  }

  .cart-page {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .message {
    width: 110px;
    top: 15%;
    left: 55%;
    font-size: 10px;
  }

  .cart-page {
    margin-top: 40px;
  }
}
