.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item h3 {
  margin: 0;
}

.cart-item p {
  margin: 5px 0;
}

.remove-button {
  padding: 6px 10px;
  min-width: 110px;
  background-color: #df5f5f;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0.4, 0, 0, 0.4);
}

.remove-button:hover {
  background-color: #c35353;
}

.cart-item input[type="number"] {
  width: 60px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0.4, 0, 0, 0.4);
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #62a2be;
  color: white;
  border: none;
  width: 20px;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0.4, 0, 0, 0.4);
}

.quantity-controls button:hover {
  background-color: #4690b0;
}

.quantity-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.quantity-controls span {
  margin: 0 10px;
  min-width: 20px;
  text-align: center;
}
