.empty-cart {
  font-style: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  max-width: 320px;
  margin: 0 auto;
}

.container-cart {
  display: flex;
  justify-content: center;
}

.empty-cart-image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.empty-cart-text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.go-back-button {
  padding: 4px 10px;
  min-width: 110px;
  background-color: #62a2be;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0.4, 0, 0, 0.4);
}

.go-back-button:hover {
  background-color: #4690b0;
}

/* @media (min-width: 1200px) {
  .empty-cart {
    font-size: 16px;
    max-width: 400px;
  }

  .empty-cart-image {
    width: 350px;
    height: 350px;
  }

  .empty-cart-text {
    font-size: 16px;
  }

  .go-back-button {
    padding: 8px 4px;
    width: 130px;
  }
} */

@media (min-width: 768px) and (max-width: 1199px) {
  .empty-cart {
    font-size: 15px;
    max-width: 360px;
  }

  .empty-cart-image {
    width: 200px;
    height: 200px;
  }

  .empty-cart-text {
    font-size: 15px;
  }

  .go-back-button {
    padding: 7px 3px;
    width: 120px;
  }
}

@media (max-width: 767px) {
  .empty-cart {
    font-size: 12px;
    max-width: 280px;
  }

  .empty-cart-image {
    width: 150px;
    height: 150px;
  }

  .empty-cart-text {
    font-size: 13px;
  }

  .go-back-button {
    padding: 6px 2px;
    font-size: 12px;
    width: 110px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
